body {
    font-size: 1.2em;
}
.example {
    width: 500px;
    margin: 0 auto;
}
.input-control {
    margin-top: 10px;
}
label {
    display: inline-block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: right;
    padding-right: 10px;
}
label:after {
    content: ': ';
} 
input {
    height: 30px;
    padding-left: 15px;
    font-size: 1.2em;
}
#event-log {
    display: block;
    width: 500px;
    height: 200px;
    margin: 0 auto;
    background-color: #fafafa;
}
