---
layout: default
---
{% if site.cover %}
<div class="teaserimage">
    <div class="teaserimage-image" style="background-image: url({{ site.cover }})">
        Teaser Image
    </div>
</div>
{% endif %}

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
        {% for social in site.social %}
            {% if social.url %}
                <a class="icon-{{ social.icon }}" href="{{ social.url }}">
                    <i class="fa fa-{{ social.icon }}"></i>
                </a>
                &nbsp;&nbsp;·&nbsp;&nbsp;
            {% endif %}
        {% endfor %}
    </div>
</header>

<h2 class="post_title">{{page.title}}</h2>

<div class="cf frame">
  {% for post in site.posts %}
    {% for tag in post.tags %}
        {% if tag == page.tag %}
            <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
                <span>{{post.date | date: "%m/%d/%y"}}</span> - <a class="archive_list_article_link" href='{{post.url}}'>{{post.title}}</a>
            </article>
        {% endif %}
    {% endfor %}
  {% endfor %}
</div>