<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Angular datatables promise</title>
        <link rel="stylesheet" href="lib/jquery.datatables.min.css" type="text/css" media="screen" title="datatables" charset="utf-8">
    </head>
    <body ng-app="showCase">
        <div ng-controller="DataReloadWithPromiseCtrl as datatableCtrl">
            <label for="First_Name">First Name</label><input type="text" ng-model="datatableCtrl.user.firstName" name="First_Name" value="" id="First_Name">
            <label for="Last_Name">Last Name</label><input type="text" ng-model="datatableCtrl.user.lastName" name="Last_Name" value="" id="Last_Name">
            <button type="button" ng-click="datatableCtrl.add();">Add</button>
            
            
            <table datatable="" dt-options="datatableCtrl.dtOptions" dt-columns="datatableCtrl.dtColumns" class="row-border hover"></table>
        </div>
        <script src="lib/jquery.min.js"></script>
        <script src="lib/jquery.datatables.min.js"></script>
        <script src='lib/angular.min.js'></script>
        <script src="lib/angular-resource.min.js"></script>
        <script src="lib/angular-datatables.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>
